{% include 'man/header.html' %}
   <img src="cloth_id.image.url" alt="">
    <h1>{{cloth_id.manufacturer}}</h1>
    <h1>{{cloth_id.compound}}</h1>
    <h1> в каком филиале </h1> <br>
    <h1>{{cloth_id.which_branch}}</h1>
    <h1> есть ли в наличии  </h1> <br>
    <h1>{{cloth_id.availability}}</h1>
    <button><a href="/cloth_detail/{{cloth_id.id}}/delete/">Удалить</a></button>
    <button><a href="/cloth_detail/{{cloth_id.id}}/update/">Редактировать</a></button>

  {% for i in cloth_id.comment_object.all %}
  <h1> отзывы </h1> <br>
  <h1>{{i.description}}</h1> <br>
  <p>{{i.created_at}}</p>
    <br><br><br>
  {% endfor %}
</center>

</body>
</html>


{% include 'man/footer.html' %}
